//  DESKTOP NAV
@media only screen and (min-width: 1101px) {
    .landing {
        max-width: 1000px;
        margin: 100px auto 0;

        display: flex;
        flex-direction: row;

        .landing-left {
            h1 {
                position: relative;
                font-size: 3.5em;
                line-height: 1.3em;
                z-index: 500;

                &::before {
                    content: "S";
                    color: #f2c610;
                    user-select: none;
                    font-size: 175px;
                    font-weight: 900;
                    font-family: "poppins", sans-serif;
                    z-index: -100;
                    position: absolute;
                    top: 0px;
                    left: -85px;
                }

            }
            
            p {
                width: 550px;
                margin-top: 25px;
                font-size: 1.2em;
                line-height: 1.8em;
                &::after {
                    content: "";
                    user-select: none;
                    pointer-events: none;
                    background: url("./assets/dots.png");
                    background-size: 300px 300px;
                    background-repeat: no-repeat;
                    display: block;
                    position: relative;
                    height: 300px;
                    width: 300px;
                    z-index: -100;
                    top: -440px;
                    left: -200px;
                }
            }
            button {
                margin-top: 35px;
                width: 125px;
                height: 35px;
                text-align: center;
                background-color: #f2c610;
                border-radius: 25px;
                border-color: white;
                font-weight: 600;
                cursor: pointer;
                &:hover {
                    border-color: orange;
                }
            }
        }
        .landing-right {
            position: relative;
            width: 50px;
            top: 5px;
            right: 15px;
        }
    }
}
@media only screen and (max-width: 1099px) and (min-width: 600px) {
    .landing {
        width: 75%;
        margin: 100px auto;
    }
    .landing-left {
        margin: 0 auto;
        h1 {
            font-size: 3.5em;
        }
    }
}

// -------------------------------
//     MOBILE @ MEDIA SCREEN
// -------------------------------

// @media only screen and (max-width: 1100px) {
//     .landing {
//         margin: 150px auto 0;
//         display: flex;
//         flex-direction: column;
//         align-content: center;
//         justify-content: center;
//     }
//     .landing-left {
//         width: auto;
//         background-color: #f2c610;
//         margin: 0 auto; 
//         h1 {
//             font-size: 2.3em !important;
//         }

//         max-width: 400px;
//         margin: 0 auto;
//     }
//     .landing-right {
//         margin-top: 25px;
//         width: 15px !important;
//         right: 15px !important;
//     }
// }
