.landing {
    max-width: 1100px;
    margin: 0 auto !important;

    .banner {
        margin-left: 10%;
        margin-top: 150px;
    }
    h1 {
        text-align: left;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
}
