@import url(/root.css);

// -------------------------------
//        HORIZONTAL LINES
// -------------------------------
.horizontal-lines-wrapper, 
.verticle-lines-wrapper, 
.line-v, 
.line-h {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.line-h {
    position: absolute;
    border-top: 1px #d0e7fd solid;
    width: 100%;
    z-index: -999;
}
.h0 {top: 20px}
.h1 {top: 120px}
.h2 {top: 220px;}
.h3 {top: 320px;}
.h4 {top: 420px;}
.h5 {top: 520px;}
.h6 {top: 620px;}
.h7 {top: 720px;}
.h8 {top: 820px;}
.h9 {top: 920px;}
.h10 {top: 1020px;}
.h11 {top: 1120px;}
.h12 {top: 1220px;}
.h13 {top: 1320px;}
.h14 {top: 1420px;}
.h15 {top: 1520px;}
.h16 {top: 1620px;}
.h17 {top: 1720px;}
.h18 {top: 1820px;}
.h19 {top: 1920px;}
.h20 {top: 2020px;}
.h21 {top: 2120px;}

// -------------------------------
//        VERTICLE LINES
// -------------------------------
.line-v {
    position: fixed;
    height: 100%;
    top: 0;
    z-index: -999;
}

.v0 {left: 2%;}
.v1 {left: 10.8%;}
.v2 {left: 19.5%;}
.v3 {left: 28.2%;}
.v4 {left: 36.9%;}
.v5 {left: 45.6%;}
.v6 {left: 54.3%;}
.v7 {left: 63%;}
.v8 {left: 71.8%;}
.v9 {left: 80.5%;}
.v10 {left: 89.2%;}
.v11 {left: 98%;}

@media only screen and (max-width: 1200px) {
    .v0 {left: 5%}
    .v1 {left: 15%}
    .v2 {left: 25%}
    .v3 {left: 35%}
    .v4 {left: 45%}
    .v5 {left: 55%;}
    .v6 {left: 65%;}
    .v7 {left: 75%;}
    .v8 {left: 85%;}
    .v9 {left: 95%;}
    .v10 {display: none;}
    .v11 {display: none;}
}

@media only screen and (max-width: 900px) {
    .v0 {left: 5%}
    .v1 {left: 20%}
    .v2 {left: 35%}
    .v3 {left: 50%}
    .v4 {left: 65%}
    .v5 {left: 80%;}
    .v6 {left: 95%;}
    .v7 {display: none;}
    .v8 {display: none;}
    .v9 {display: none;}
    .v10 {display: none;}
    .v11 {display: none;}
}

@media only screen and (max-width: 600px) { 
    
    .v0 {left: 5%}
    .v1 {left: 27.5%}
    .v2 {left: 50%}
    .v3 {left: 72.5%}
    .v4 {left: 95%}
    .v5 {display: none;}
    .v6 {display: none;}
    .v7 {display: none;}
    .v8 {display: none;}
    .v9 {display: none;}
    .v10 {display: none;}
    .v11 {display: none;}
}