@import url(/root.css);

// -------------------------------
//        HORIZONTAL LINES
// -------------------------------
.horizontal-lines-wrapper, 
.verticle-lines-wrapper, 
.line-v, 
.line-h {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.line-h {
    position: absolute;
    border-top: 1px #d0e7fd solid;
    width: 100%;
    z-index: -999;
}
.h0 {top: 20px}
.h1 {top: 120px}
.h2 {top: 220px;}
.h3 {top: 320px;}
.h4 {top: 420px;}
.h5 {top: 520px;}
.h6 {top: 620px;}
.h7 {top: 720px;}
.h8 {top: 820px;}
.h9 {top: 920px;}

// -------------------------------
//        VERTICLE LINES
// -------------------------------
.line-v {
    position: fixed;
    height: 100%;
    top: 0;
    z-index: -999;
}

.v0 {left: 5%;}
.v1 {left: 15%;}
.v2 {left: 25%;}
.v3 {left: 35%;}
.v4 {left: 45%;}
.v5 {left: 55%;}
.v6 {left: 65%;}
.v7 {left: 75%;}
.v8 {left: 85%;}
.v9 {left: 95%;}

@media only screen and (max-width: 700px) {
    .v0 {left: 5%}
    .v1 {left: 20%}
    .v2 {left: 35%}
    .v3 {left: 50%}
    .v4 {left: 65%}
    .v5 {left: 80%;}
    .v6 {left: 95%;}
    .v7 {display: none;}
    .v8 {display: none;}
    .v9 {display: none;}
}

@media only screen and (max-width: 500px) { 
    
    .v0 {left: 5%}
    .v1 {left: 35%}
    .v2 {left: 65%}
    .v3 {left: 95%}
    .v4 {display: none;}
    .v5 {display: none;}
    .v6 {display: none;}
    .v7 {display: none;}
    .v8 {display: none;}
    .v9 {display: none;}
}