@media only screen and (min-width: 1000px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 25px auto;
    height: 90px;
  }
  .navbar {
    margin: 0 auto;
  }
  .navbar a {
    text-decoration: none;
    font-size: 16px;
    margin: 0 8px;
    padding: 10px 10px;
    text-transform: uppercase;
    -webkit-transition: 250ms;
    transition: 250ms;
  }
  .navbar a:hover {
    color: orange;
    -webkit-transition: 150ms;
    transition: 150ms;
    text-decoration: underline;
    text-underline-position: under;
  }
  .logo {
    width: 200px;
    position: relative;
    top: 5px;
    margin-left: 10px;
  }
  .switcher {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 25px;
    width: 200px;
    font-size: 16px;
  }
  .switcher a {
    margin: 0 5px;
  }
  .switcher img {
    width: 25px;
    margin-left: 10px;
  }
  #mobile-menu-open-button,
  #opacity-bg,
  #mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 999px) {
  nav {
    margin-top: 25px;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 200px;
    top: 5px;
    margin-left: 10px;
  }
  .navbar,
  .switcher {
    display: none;
  }
  #mobile-menu-open-button {
    position: absolute;
    top: 55px;
    right: 30px;
    cursor: pointer;
  }
  #mobile-menu-open-button div {
    width: 24px;
    height: 3px;
    margin: 4px 0;
    background-color: black;
  }
  #mobile-menu-open-button div:nth-child(2) {
    width: 20px;
    margin-left: 4px;
  }
  #mobile-menu-open-button div:nth-child(3) {
    width: 24px;
  }
  .closeNav {
    display: none !important;
  }
  .openNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #opacity-bg {
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 500;
  }
  #mobile-nav {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    top: 0;
    right: 0;
    height: 100vh;
    width: 80%;
    background-color: #292832;
    min-width: 200px;
    max-width: 250px;
    z-index: 999;
  }
  .mobile-x-button {
    position: absolute;
    top: 25px;
    right: 3px;
    cursor: pointer;
  }
  .mobile-x-button div {
    height: 3px;
    background-color: white;
  }
  .mobile-x-button div:nth-child(1) {
    position: absolute;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    width: 30px;
    top: 40px;
    right: 25px;
  }
  .mobile-x-button div:nth-child(2) {
    position: absolute;
    top: 40px;
    right: 25px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 30px;
  }
  .mobile-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px;
  }
  .mobile-links a {
    color: white;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.2em;
    text-align: center;
    margin: 10px;
    padding: 15px;
    text-decoration: none;
  }
  .mobile-links a:hover {
    color: orange;
  }
  .mobile-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
    margin-top: 50px;
    color: white;
  }
  .mobile-bottom:hover {
    color: orange;
  }
  .mobile-bottom div:hover {
    color: orange;
  }
  .mobile-bottom img {
    cursor: pointer;
    position: relative;
    top: 8px;
    margin-bottom: 15px;
    width: 25px;
    margin-right: 15px;
  }
}
/*# sourceMappingURL=nav.css.map */