//  DESKTOP NAV
@media only screen and (min-width: 1000px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 25px auto;
        height: 90px;
    }

    .navbar {
        margin: 0 auto;
       
        a {
            text-decoration: none;
            font-size: 16px;
            margin: 0 8px;
            padding: 10px 10px;
            text-transform: uppercase;
            transition: 250ms;
            &:hover {
                color: orange;
                transition: 150ms;
                text-decoration: underline;
                text-underline-position: under;
            }
        }
    }

    .logo {
        width: 200px;
        position: relative;
        top: 5px;
        margin-left: 10px;
    }

    .switcher {
        cursor: pointer;
        display: flex;
        justify-content: right;
        align-items: center;
        margin: 0 25px;
        width: 200px;
        font-size: 16px;
        a {
            margin: 0 5px;
        }
        img {
            width: 25px;
            margin-left: 10px;
        }
    }

    // display none - for mobile only
    #mobile-menu-open-button,
    #opacity-bg,
    #mobile-nav {
        display: none;
    }
}

// -------------------------------
//     MOBILE @ MEDIA SCREEN
// -------------------------------

@media only screen and (max-width: 999px) {
    // Outer Mobile Menu
    nav {
        margin-top: 25px;
        height: 90px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }
    .logo {
        align-items: center;
        position: relative;
        width: 200px;
        top: 5px;
        margin-left: 10px;
    }

    .navbar,
    .switcher {
        display: none;
    }

    #mobile-menu-open-button {
        position: absolute;
        top: 55px;
        right: 30px;
        
        div {
            width: 24px;
            height: 3px;
            margin: 4px 0;
            background-color: rgb(0, 0, 0);
        }

        div:nth-child(2) {
            width: 20px;
            margin-left: 4px;
        }
        div:nth-child(3) {
            width: 24px;
        }
    }

    //  -----------------------------------
    .closeNav {
        display: none !important;
    }

    .openNav {
        display: flex;
    }
    //  -----------------------------------
    #opacity-bg {
        background-color: hsla(0, 0%, 100%, 0);
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
    }
    // Inner Mobile Menu
    #mobile-nav {
        position: fixed;
        display: flex;
        flex-direction: column !important;
        top: 0;
        right: 0;
        height: 100vh;
        width: 80%;

        background-color: rgb(116, 116, 116);
        min-width: 200px;
        max-width: 300px;
        z-index: 999;
    }
    //mobile inner menu X button
    .mobile-x-button {
        position: absolute;
        top: 25px;
        right: 3px;
        div {
            height: 3px;
            background-color: rgb(255, 255, 255);
        }
        div:nth-child(1) {
            position: absolute;
            transform: rotate(-45deg);
            width: 30px;
            top: 40px;
            right: 25px;
        }
        div:nth-child(2) {
            position: absolute;
            top: 40px;
            right: 25px;
            transform: rotate(45deg);
            width: 30px;
        }
        // Mobile menu links
    }
    .mobile-links {
        display: flex;
        flex-direction: column;
        margin-top: 50px;

        a {
            color: white;
            justify-content: center;
            font-size: 1.2em;
            text-align: center;
            margin: 10px;
            padding: 15px;
            text-decoration: none;
            &:hover {
                color: orange;
            }
        }
    }

    .mobile-top {
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin-right: 15px;
        margin-top: 25px;
        margin-left: 15px;
        img {
            margin-bottom: 15px;
        }
    }
}
