 
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html, body {
    height: 400vh;
}

:root {
    //light theme
    --bg-light: rgb(255, 255, 255);
    --lines-light: #bcdeff;

    --text-light: black;
    --highlight-light: #F2C610;

    //dark theme
    --bg-dark: rgb(27, 27, 27);
    --lines-dark: #353535b2;

    --text-dark: #d6d6d6;
    --highlight-dark: #F2C610;

    //blue theme
    --bg-blue: #3c738d;
    --lines-blue: #558ba3;

    --text-blue: #ffffff;
    --highlight-blue: #F2C610;
}
 

// light theme
.light {
    height: 100%;
    background-color: var(--bg-light);
    h1, h2, p, a, div {
        color: var(--text-light);
    }
     
    .font-color  {
        color: black;
    }
    .line-v {
        border-right: 1px solid var(--lines-light);
    }
    .line-h {
        border-top: 1px solid var(--lines-light);
    }
     
}

//dark theme
.dark {
    height: 100%;
    background-color: var(--bg-dark);
    h1, h2, p, a, div {
        color: var(--text-dark);
    }
    .secondary-font-color {
        color: black;
    }
     
    .line-v {
        border-right: 1px solid var(--lines-dark);
    }
    .line-h {
        border-top: 1px solid var(--lines-dark);
    }
}

//blue theme
.blue {
    height: 100vh;
    background: var(--bg-blue);
    h1, h2, p, a, div {
        color: var(--text-blue);
    }
    .secondary-font-color {
        color: black;
    }
       
    .line-v {
        border-right: 1px solid var(--lines-blue);
    }
    .line-h {
        border-top: 1px solid var(--lines-blue);
    }
}
