* {
    font-family: 'IM Fell English', serif;
}

body {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

:root {
    --lightText0: #000000;
    --lightText1: #ffffff;
    --lightSecondaryText0: #ffff00;
    --lightSecondaryText1: #c47a19;

    --greenText0: #04310c;
    --greenText1: #1c8f25;
    --greenSecondaryText0: #ffff00;
    --greenSecondaryText1: #c47a19;

    --darkText1: #000000;
    --darkText0: #ffffff;
    --darkSecondaryText0: #ffff00;
    --darkSecondaryText1: #c47a19;
}
