 
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html, body {
   height: auto;
}

:root {
    //light theme
    --bg-light: rgb(255, 255, 255);
    --lines-light: #bcdeff;

    --text-light: black;
    --highlight-light: #F2C610;

    //dark theme
    --bg-dark: rgb(27, 27, 27);
    --lines-dark: #414141d1;

    --text-dark: #d6d6d6;
    --highlight-dark: #F2C610;

}
 

// light theme
.light {
    height: 100%;
    background-color: var(--bg-light);
    h1, h2, p, a, div {
        color: var(--text-light);
    }
    .secondary-font-color {
        background-color: black !important;
    } 
    .font-color  {
        color: black;
    }
    .line-v {
        border-right: 1px solid var(--lines-light);
        z-index: -999;
    }
    .line-h {
        border-top: 1px solid var(--lines-light);
        z-index: -999;
    }
     
}

//dark theme
.dark {
    height: 100%;
    background-color: var(--bg-dark);
    h1, h2, p, a, div {
        color: var(--text-dark);
    }
    .secondary-font-color {
        color: black;
    }
    .font-color {
        color: black;
    }
     
    .line-v {
        border-right: 1px solid var(--lines-dark);
    }
    .line-h {
        border-top: 1px solid var(--lines-dark);
    }
}
 