.what-we-do{
    display: block;
    width: 900px;
    margin: 150px auto;
    text-align: center;
    h1 {
        font-size: 3.5em;
        position: relative;
        &::before {
            content: 'W';
            font-family: "poppins", sans-serif;
            font-size: 150px;
            position: absolute;
            color: #f2c610;
            z-index: -100;
            top: -115px;
            left: 190px;
        }
    }
}