@media only screen and (min-width: 800px) {
  #what-we-do-section {
    max-width: 900px;
    margin: 0 auto;
  }
  #what-we-do-section img {
    max-width: 550px;
    position: relative;
    top: -225px;
    left: -125px;
  }
  .what-we-do-main {
    display: block;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    margin-top: -50px;
  }
  .what-we-do-main h1 {
    font-size: 3.5em;
    position: relative;
    left: -75px;
    top: 35px;
  }
  .what-we-do-main h1::before {
    content: "W";
    font-family: "poppins", sans-serif;
    font-size: 150px;
    position: relative;
    color: #f2c610;
    z-index: -100;
    top: 0px;
    left: 30px;
  }
  .what-we-do-main p {
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
    height: 200px;
    font-size: 1.2em;
    line-height: 1.8em;
  }
  .what-we-do-main p::after {
    content: "";
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    background: url("./assets/circle.png");
    background-size: 600px 600px;
    background-repeat: no-repeat;
    display: block;
    width: 600px;
    height: 600px;
    z-index: 999;
    position: relative;
    top: -450px;
    left: -50px;
  }
  .what-we-do-main p span {
    color: #f2c610;
  }
  .what-we-do-services {
    max-width: 900px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 600px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    margin-top: 50px;
    position: relative;
  }
  .what-we-do-services div {
    height: 200px;
  }
  .what-we-do-services div h1 {
    font-size: 1.5em;
  }
  .what-we-do-services div h1 span {
    font-size: 3em;
    color: #f2c610;
  }
  .what-we-do-services div p {
    font-size: 1em;
    line-height: 1.8em;
    padding: 0px 20px;
  }
  .what-we-do-services .mobile {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .what-we-do-services .responsive {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .what-we-do-services .optimization {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media only screen and (max-width: 1150px) and (min-width: 800px) {
  #what-we-do-section {
    max-width: 900px;
    margin: 0 auto;
  }
  #what-we-do-section img {
    z-index: -100;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: relative;
    left: 0;
    width: auto;
    margin: 0 auto;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 799px) {
  #what-we-do-section img {
    z-index: -100;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-top: 75px;
    position: relative;
    width: 75vw;
    height: auto;
    left: 12%;
  }
  .what-we-do-main {
    margin-top: -50px;
  }
  .what-we-do-main h1 {
    width: 95vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2.5em;
    text-align: center;
  }
  .what-we-do-main h1::before {
    content: "W";
    color: #f2c610;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 125px;
    font-weight: 900;
    font-family: "poppins", sans-serif;
    z-index: -100;
    position: relative;
    top: 50px;
    left: -110px;
  }
  .what-we-do-main h1::after {
    content: "";
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    background: url("./assets/circle.png");
    background-size: 300px 300px;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    margin: 0 auto;
    height: 300px;
    width: 300px;
    left: 0px;
    z-index: -100;
    top: -150px;
  }
  .what-we-do-main p {
    width: 80vw;
    text-align: center;
    line-height: 2em;
    margin: 0 auto;
    margin-top: -275px;
    position: relative;
  }
  .what-we-do-main p span {
    color: #f2c610;
    overflow-wrap: normal;
  }
  .what-we-do-services {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 75px;
  }
  .what-we-do-services div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
  }
  .what-we-do-services div h1 {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  .what-we-do-services div h1 span {
    font-size: 2em;
    color: #f2c610;
  }
  .what-we-do-services div p {
    width: 300px;
    margin-top: 15px;
    font-size: 1em;
    line-height: 1.5em;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .what-we-do-services .optimization {
    position: relative;
  }
}
/*# sourceMappingURL=what-we-do.css.map */